<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GitHistory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GitHistory.Properties.Settings>
            <setting name="WebLocation" serializeAs="String">
                <value>https://github.com/nielsschroyen/GitHistory</value>
            </setting>
            <setting name="LocalGit" serializeAs="String">
                <value>C:\Users\Niels Schroyen\Documents\Visual Studio 2010\Projects\GitHistory\GitHistory</value>
            </setting>
        </GitHistory.Properties.Settings>
    </userSettings>
</configuration>